*{
	font-family: "Arial";
}

body{
	background: #D3D3D3;
}

#logo{
	float:left;
	max-height:100px;
	min-height:50px;
}

#img_logo{
	max-height:100px;
	min-height:50px;
}
#pos_logo{
	text-align:center;
}

h1{
	text-align:center;
	color:#0061a1;
	padding:30px;
}
#Menu_horizontal{
	margin:0px auto;
	list-style:none;
	text-align:center;
}

#Menu_horizontal li {
	display: inline-block;
	color: #fff ;
	background: #2d91cf ;
}
#Menu_horizontal li a {
	display: inline-block;
	padding: 20px 100px;
    background: #2d91cf ;
	color: #fff ;
	line-height: 1em ;
	text-align: center ;
	text-decoration: none ;
}
#Menu_horizontal li a:hover, #Menu_horizontal li a:focus, #Menu_horizontal li a:active {
	background: #5db9e8 ;
	
}
#globale{
	margin:20px auto;
	padding: 50px;
	max-width:1000px;
	background-color:#F9F9F9;
	text-align:center;
}
#explication{
	text-align:left;
}
#Equipe{
	text-align:center;
	color:#03609e;
	padding:40px;
}
#paragraphe{
	background-color:#F9F9F9;
	float:left;
	width:100%;
}
#monsieur{
	float:left;
	max-height:350px;
	min-height:175px;
	margin:10px;
}
#cerveau{
	max-height:250px;
	min-height:75px;
	margin:10px;
}
#Droite{
	float:left;
	width:0%;
	background-color:#22992d;
}
.clearfloat {
	clear: both;
}
#LogoIUT{
	float:right;
	max-height:56px;
	min-height:40px;
}

footer{
	margin:50px auto;
}

#Menu_du_bas{
	margin:0 auto;
	list-style:none;
	text-align:center;
}
#Menu_du_bas li {
	display: inline-block;
	color: #fff ;
	background: #2d91cf ;
}
#Menu_du_bas li a {
	display: inline-block;
	padding: 20px 100px;
    background: #2d91cf ;
	color: #fff ;
	line-height: 1em ;
	text-align: center ;
	text-decoration: none ;
}
#Menu_du_bas li a:hover, #Menu_horizontal li a:focus, #Menu_horizontal li a:active {
	background: #5db9e8 ;	
}




/*  Page Technologie> */

.techno {
	float:left;
	width:100%;
}

.titretech{
	text-align:center;
	color:#03609e;
	padding:40px;
}

#timg{
	text-align: center
}

#img1{
	max-width: 800px;
}

#legende{
	font-style: italic;
	text-align: center;
}

.introconclu{
	
	text-align: left;
	font-size: 20px;
}

#globaltech{
	margin:20px auto;
	padding: 50px;
	max-width:1000px;
	background-color:#F9F9F9;
	text-indent: 30px;
}

.video{
	width: 560px;
	height:315px;
	border:0px;
} 
#centrer{
	text-align: center;
}

/* Page Application */

.intro_application{
    text-indent: 30px;
    text-align: left;
    font-size: 20px;
}

.titre_app{
	text-align:center;
	color:#03609e;
	padding:20px;
	text-indent: 30px;
}
.sous-titre_app{
    text-align: left;
    color:#03609e;
    padding:10px;
	text-indent: 30px;
}

.text_app{
	width:100%;
    text-align: left;
	text-indent: 30px;
}
.img_app{
	max-width: 250px;
    max-height: 250px;
}

.gif1{
	width: 250px; 
	height:255px; 
	Border: 0px; 
}


.def{
	margin:20px auto;
	padding: 30px;
	max-width:1000px;
	background-color:#F9F9F9;
	text-indent: 30px;
}
.photo{
	max-height:200px;
	min-height:50px;
}

.gif1{
	width:"250px";
	height:"255px";
	border:"0";
	
}

.gif2{
	width="560"; 
	height="315";
}
#Nath{
	image-orientation: inherit;
	max-height:200px;
	min-height:50px;
}


/* charte graphique */

#charte{
	max-width: 800px
}

table,td,th {
	border: thin solid #000000;
	width: 70%;
	border-collapse: collapse;
	padding: 2px;
	margin: 0 auto;
	text-align: center;
}

#vi{
	width: 50px;
	height:30px;
}

#bf{
	background-color: #03609e;
}

#bm{
	background-color: #2d91cf;
}

#bc{
	background-color: #5db9e8;
}

#gr{
	background-color: #d3d3d3;
}

#no{
	background-color: #000000;
}

#bl{
	background-color: #f6f6f6;
}

.img_apprentissage{
	text-align:center;
}

#multicouche, #supervise, #nonsupervise, #diffresultat, #renforcement{
	max-width:400px;
	min-width:200px;
}

#monocouche{
	max-width:300px;
	min-width:200px;
}
	
.ListeS{
	text-align:left;
}
.ListeS a{
	color:#03609e;
}

#ancre{
	float:left;
	max-width:65px;
}

.listepresentation{
	list-style:none;
	margin:auto 0;
	padding:30px;
}

#machinelearning, #bigdata{
	padding:5px;
}
p{
	padding:20px;
}

#voiture{
	min-width:400px;
}